<div class="form" [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput type="text" formControlName="name" placeholder="nume">
        <mat_icon matSuffix>sentiment_very_satisfied</mat_icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput type="text" formControlName="descriere" placeholder="descriere">
        <mat_icon matSuffix>sentiment_very_satisfied</mat_icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput type="text" formControlName="cantitate" placeholder="cantitate">
        <mat_icon matSuffix>sentiment_very_satisfied</mat_icon>
    </mat-form-field>
</div>