.left{
    background-color: #329999;
    height: 1000px;
    float: left;
    width: 50%;
}
.right{
    background-color: #329999;
    height: 1000px;
    float: right;
    width: 50%;
}
p{
    background-color: #329999;
    margin:500px 1000px;
}